# 5章CSVを読み込む

### 問題1: c01.csvファイルをロードして上記10件を表示してください．
ヒント1：Pandas read_csv()関数を使います．

ヒント2：CSVファイルは，Shift JISです．read_csv()関数にShift JISであることを教えて上げる必要があります．

ヒント3：上記10件については，DataFrameのhead()関数を使うと簡単です．

In [26]:
import pandas as pd

# ここに回答を書いてください．
df = pd.read_csv("c01.csv",encoding="shift_jis")
print(df[:10])
print("---")
print(df.head(10))

  都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    注    人口（総数）     人口（男）     人口（女）
0      00    全国  大正    9.0  1920.0  NaN  55963053  28044185  27918868
1      01   北海道  大正    9.0  1920.0  NaN   2359183   1244322   1114861
2      02   青森県  大正    9.0  1920.0  NaN    756454    381293    375161
3      03   岩手県  大正    9.0  1920.0  NaN    845540    421069    424471
4      04   宮城県  大正    9.0  1920.0  NaN    961768    485309    476459
5      05   秋田県  大正    9.0  1920.0  NaN    898537    453682    444855
6      06   山形県  大正    9.0  1920.0  NaN    968925    478328    490597
7      07   福島県  大正    9.0  1920.0  NaN   1362750    673525    689225
8      08   茨城県  大正    9.0  1920.0  NaN   1350400    662128    688272
9      09   栃木県  大正    9.0  1920.0  NaN   1046479    514255    532224
---
  都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    注    人口（総数）     人口（男）     人口（女）
0      00    全国  大正    9.0  1920.0  NaN  55963053  28044185  27918868
1      01   北海道  大正    9.0  1920.0  NaN   2359183   1244322   1114861
2      02   青森県  大正    9.0  1920.0  NaN    756454    381293    375161
3      03   岩手県  大正    9.0  1920.0  NaN    845540    421069    424471
4      04   宮城県  大正    9.0  1920.0  NaN    961768    485309    476459
5      05   秋田県  大正    9.0  1920.0  NaN    898537    453682    444855
6      06   山形県  大正    9.0  1920.0  NaN    968925    478328    490597
7      07   福島県  大正    9.0  1920.0  NaN   1362750    673525    689225
8      08   茨城県  大正    9.0  1920.0  NaN   1350400    662128    688272
9      09   栃木県  大正    9.0  1920.0  NaN   1046479    514255    532224

### c01.csvの内容を下から10件を表示してください．

In [27]:
# ここに回答を書いてください．
print(df.tail(10))

                                               都道府県コード 都道府県名   元号  和暦（年）  \
972                                                 40   福岡県   平成   27.0
973                                                 41   佐賀県   平成   27.0
974                                                 42   長崎県   平成   27.0
975                                                 43   熊本県   平成   27.0
976                                                 44   大分県   平成   27.0
977                                                 45   宮崎県   平成   27.0
978                                                 46  鹿児島県   平成   27.0
979                                                 47   沖縄県   平成   27.0
980                         1)　沖縄県は調査されなかったため，含まれていない。   NaN  NaN    NaN
981  2)　長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...   NaN  NaN    NaN

      西暦（年）    注   人口（総数）    人口（男）    人口（女）
972  2015.0  NaN  5101556  2410418  2691138
973  2015.0  NaN   832832   393073   439759
974  2015.0  NaN  1377187   645763   731424
975  2015.0  NaN  1786170   841046   945124
976  2015.0  NaN  1166338   551932   614406
977  2015.0  NaN  1104069   519242   584827
978  2015.0  NaN  1648177   773061   875116
979  2015.0  NaN  1433566   704619   728947
980     NaN  NaN      NaN      NaN      NaN
981     NaN  NaN      NaN      NaN      NaN

### 下2行の注を削除して，DataFrame変数df2に代入してください．

In [48]:
# ここに回答を書いてください．
df2 = df.drop(range(980,982))
print(df2.tail(10))

    都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    注     人口（総数）    人口（男）    人口（女）
970      38   愛媛県  平成   27.0  2015.0  NaN  1385262.0   654380   730882
971      39   高知県  平成   27.0  2015.0  NaN   728276.0   342672   385604
972      40   福岡県  平成   27.0  2015.0  NaN  5101556.0  2410418  2691138
973      41   佐賀県  平成   27.0  2015.0  NaN   832832.0   393073   439759
974      42   長崎県  平成   27.0  2015.0  NaN  1377187.0   645763   731424
975      43   熊本県  平成   27.0  2015.0  NaN  1786170.0   841046   945124
976      44   大分県  平成   27.0  2015.0  NaN  1166338.0   551932   614406
977      45   宮崎県  平成   27.0  2015.0  NaN  1104069.0   519242   584827
978      46  鹿児島県  平成   27.0  2015.0  NaN  1648177.0   773061   875116
979      47   沖縄県  平成   27.0  2015.0  NaN  1433566.0   704619   728947

### 下2行を削除したデータを"deleted.csv"に保存してください．

In [49]:
# ここに回答を書いてください．

df2.to_csv("deleted.csv", encoding="shift_jis")

### 下2行を削除したデータ（変数df2）で，人口（総数）を昇順で並び替えてdf_aに保存してください．

In [50]:
df["人口（総数）"] = pd.to_numeric(df2["人口（総数）"], errors='coerce')
df_a = df2.sort_values(by="人口（総数）")
print(df_a.head(10))

    都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    注    人口（総数）   人口（男）   人口（女）
31       31   鳥取県  大正    9.0  1920.0  NaN  454675.0  222802  231873
79       31   鳥取県  大正   14.0  1925.0  NaN  472230.0  230580  241650
223      31   鳥取県  昭和   15.0  1940.0  NaN  484390.0  233964  250426
127      31   鳥取県  昭和    5.0  1930.0  NaN  489266.0  239084  250182
175      31   鳥取県  昭和   10.0  1935.0  NaN  490461.0  239301  251160
95       47   沖縄県  大正   14.0  1925.0  NaN  557622.0  267933  289689
271      31   鳥取県  昭和   20.0  1945.0   1)  563220.0  255525  307695
29       29   奈良県  大正    9.0  1920.0  NaN  564607.0  280383  284224
513      31   鳥取県  昭和   45.0  1970.0  NaN  568777.0  269497  299280
47       47   沖縄県  大正    9.0  1920.0  NaN  571572.0  274829  296743

### 下2行を削除したデータ（変数df2）で，人口（総数）を降順で並び替えてください．

In [51]:
# ここに回答を書いてください．
df_b = df2.sort_values(by="人口（総数）", ascending=False)
print(df_b.head(10))

    都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    注       人口（総数）     人口（男）     人口（女）
880      00    全国  平成   22.0  2010.0  NaN  128057352.0  62327737  65729615
830      00    全国  平成   17.0  2005.0  NaN  127767994.0  62348977  65419017
930      00    全国  平成   27.0  2015.0  NaN  127094745.0  61841738  65253007
780      00    全国  平成   12.0  2000.0  NaN  126925843.0  62110764  64815079
730      00    全国  平成    7.0  1995.0  NaN  125570246.0  61574398  63995848
680      00    全国  平成    2.0  1990.0  NaN  123611167.0  60696724  62914443
630      00    全国  昭和   60.0  1985.0  NaN  121048923.0  59497316  61551607
580      00    全国  昭和   55.0  1980.0  NaN  117060396.0  57593769  59466627
530      00    全国  昭和   50.0  1975.0  NaN  111939643.0  55090673  56848970
480      00    全国  昭和   45.0  1970.0  NaN  104665171.0  51369177  53295994

In [47]:
df_a.to_csv("df_a.csv", encoding="shift_jis")
df_b.to_csv("df_b.csv", encoding="shift_jis")